*{
    margin: 0;
    padding: 0;
}
.regis{
   background-color:rgba(238, 130, 238, 0.288);
position: relative;
top: 49px;
}
.name{
    font-size: 50px;
    text-align: center;
    background-color: violet;
    color: white;
}
.iguape{
    position: relative;
    display: inline-block;
    width: 430px;
    top: 49px;
    left: 15px;
}
.back{
    position: absolute;
    top: 0px;
    width: 70px;
    background: rgb(172, 85, 172);
    color: white;
    height: 58px;
    border:none
}
.back:hover{
    background: rgb(255, 162, 255);
}