*{
    margin: 0;
    padding: 0;
}
.regis{
   background-color:rgba(128, 128, 0, 0.527);
position: relative;
top: 49px;
}
.name{
    font-size: 50px;
    text-align: center;
    background-color: olive;
    color: white;
}
.iguape{
    position: relative;
    display: inline-block;
    width: 430px;
    top: 49px;
    left: 15px;
}
.back{
    position: absolute;
    top: 0px;
    width: 70px;
    background: rgb(114, 114, 24);
    color: white;
    height: 58px;
    border:none
}
.back:hover{
    background: rgb(160, 160, 14);
}