*{
    margin: 0;
    padding: 0;
}
.regis{
   background-color: rgba(255, 238, 0, 0.212);
position: relative;
top: 49px;
}
.name{
    font-size: 50px;
    text-align: center;
    background-color: rgb(255, 251, 0);
    color: white;
}
.iguape{
    position: relative;
    display: inline-block;
    width: 430px;
    top: 49px;
    left: 15px;
}
.back{
    position: absolute;
    top: 0px;
    width: 70px;
    background: rgb(226, 222, 4);
    color: white;
    height: 58px;
    border:none
}
.back:hover{
    background: rgb(255, 252, 95);
}