*{
    margin: 0;
    padding: 0;
}
.regis{
   background-color: rgba(205, 134, 63, 0.473);
position: relative;
top: 49px;
}
.name{
    font-size: 50px;
    text-align: center;
    background-color: peru;
    color: white;
}
.iguape{
    position: relative;
    display: inline-block;
    width: 430px;
    top: 49px;
    left: 15px;
}
.back{
    position: absolute;
    top: 0px;
    width: 70px;
    background: rgb(238, 166, 94);
    color: white;
    height: 58px;
    border:none;
}
.back:hover{
    background: rgb(255, 193, 132);
}