*{
    margin: 0;
    padding: 0;
}
.regis{
   background-color: rgba(0, 0, 0, 0.24);
position: relative;
top: 49px;
}
.name{
    font-size: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
.iguape{
    position: relative;
    display: inline-block;
    width: 430px;
    top: 49px;
    left: 15px;
}
.back{
    position: absolute;
    top: 0px;
    width: 70px;
    background: rgb(105, 105, 104);
    color: white;
    height: 58px;
    border:none;
}
.back:hover{
    background: rgb(184, 180, 176);
}