*{
    margin: 0;
    padding: 0;
}
.regis{
   background-color: rgba(128, 128, 128, 0.329);
position: relative;
top: 49px;
}
.name{
    font-size: 50px;
    text-align: center;
    background-color: gray;
    color: white;
}
.iguape{
    position: relative;
    display: inline-block;
    width: 430px;
    top: 49px;
    left: 15px;
}
.back{
    position: absolute;
    top: 0px;
    width: 70px;
    background: rgb(199, 197, 197);
    color: white;
    height: 58px;
    border:none
}
.back:hover{
    background: rgb(114, 124, 115);
}